USE [master]
GO
/****** Object:  Database [manage_library]    Script Date: 2/22/2024 4:31:41 PM ******/
CREATE DATABASE [manage_library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'manage_library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\manage_library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'manage_library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\manage_library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [manage_library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [manage_library]
GO
/****** Object:  User [hoatdfk]    Script Date: 2/22/2024 4:31:41 PM ******/
CREATE USER [hoatdfk] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[author]    Script Date: 2/22/2024 4:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[deleted] [int] NOT NULL,
 CONSTRAINT [PK__author__3213E83F1B0997DA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book]    Script Date: 2/22/2024 4:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varchar](250) NULL,
	[name] [varchar](250) NOT NULL,
	[author_id] [int] NULL,
	[price] [decimal](10, 0) NULL,
	[publication_year] [datetime2](0) NOT NULL,
	[number_off_pages] [int] NULL,
	[category_id] [int] NULL,
	[amount] [int] NOT NULL,
	[publisher_id] [int] NULL,
	[create_day] [datetime2](0) NOT NULL,
	[deleted] [int] NOT NULL,
 CONSTRAINT [PK__book__3213E83F919BB3C2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[borrow_request]    Script Date: 2/22/2024 4:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrow_request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NULL,
	[book_id] [int] NULL,
	[due_date] [datetime2](0) NOT NULL,
	[status] [int] NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[deleted] [int] NOT NULL,
 CONSTRAINT [PK__borrow_r__3213E83F8A7D0965] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[borrow_tracking]    Script Date: 2/22/2024 4:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrow_tracking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NULL,
	[return_date] [datetime2](0) NOT NULL,
	[return_status] [int] NULL,
	[fine_amound] [decimal](10, 0) NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[deleted] [int] NOT NULL,
 CONSTRAINT [PK__borrow_t__3213E83FF81050F5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 2/22/2024 4:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](250) NOT NULL,
	[deleted] [int] NOT NULL,
 CONSTRAINT [PK__category__3213E83FC0C91CCD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publisher]    Script Date: 2/22/2024 4:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publisher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](250) NOT NULL,
	[deleted] [int] NOT NULL,
 CONSTRAINT [PK__publishe__3213E83F85FE5DF7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reader]    Script Date: 2/22/2024 4:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reader](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](250) NOT NULL,
	[date_of_birth] [datetime2](0) NOT NULL,
	[reader_address] [varchar](max) NULL,
	[identity_card] [varchar](15) NOT NULL,
	[start_day] [datetime2](0) NOT NULL,
	[end_day] [datetime2](0) NULL,
	[books_borrowed] [int] NULL,
	[borrowed_time] [int] NULL,
	[deposit] [decimal](10, 0) NULL,
	[role_id] [int] NULL,
	[deleted] [int] NOT NULL,
 CONSTRAINT [PK__reader__3213E83F76AA0225] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_reader]    Script Date: 2/22/2024 4:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_reader](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](150) NULL,
	[Deleted] [int] NOT NULL,
 CONSTRAINT [PK__role_rea__3213E83FF53B9B25] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2/22/2024 4:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](250) NOT NULL,
	[password] [varchar](250) NOT NULL,
 CONSTRAINT [PK__user__3213E83F0BEB6BDE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[author] ON 

INSERT [dbo].[author] ([id], [name], [deleted]) VALUES (1, N'Dale Carnegie 2', 0)
INSERT [dbo].[author] ([id], [name], [deleted]) VALUES (2, N'Florence Littauer', 0)
INSERT [dbo].[author] ([id], [name], [deleted]) VALUES (3, N'Donald J.Trump', 0)
SET IDENTITY_INSERT [dbo].[author] OFF
GO
SET IDENTITY_INSERT [dbo].[book] ON 

INSERT [dbo].[book] ([id], [image], [name], [author_id], [price], [publication_year], [number_off_pages], [category_id], [amount], [publisher_id], [create_day], [deleted]) VALUES (36, N'Dac-nhan-tam.jpg', N'Ð?c Nhân Tam', 1, CAST(200000 AS Decimal(10, 0)), CAST(N'2023-11-02T17:00:00.0000000' AS DateTime2), 100, 22, 4, 19, CAST(N'2020-11-19T07:30:06.0000000' AS DateTime2), 0)
INSERT [dbo].[book] ([id], [image], [name], [author_id], [price], [publication_year], [number_off_pages], [category_id], [amount], [publisher_id], [create_day], [deleted]) VALUES (37, N'dam-uoc-mo.jpg', N'Dám uoc mo', 1, CAST(200000 AS Decimal(10, 0)), CAST(N'2023-11-11T09:59:40.0000000' AS DateTime2), 100, 22, 6, 19, CAST(N'2020-11-19T07:30:36.0000000' AS DateTime2), 0)
INSERT [dbo].[book] ([id], [image], [name], [author_id], [price], [publication_year], [number_off_pages], [category_id], [amount], [publisher_id], [create_day], [deleted]) VALUES (38, N'nghi-lon-de-thanh-cong.jpg', N'Nghi L?n Ð? Thành Công', 1, CAST(200000 AS Decimal(10, 0)), CAST(N'2023-11-11T14:28:33.0000000' AS DateTime2), 100, 22, 4, 19, CAST(N'2020-11-19T07:30:49.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[book] OFF
GO
SET IDENTITY_INSERT [dbo].[borrow_request] ON 

INSERT [dbo].[borrow_request] ([id], [reader_id], [book_id], [due_date], [status], [updated_at], [deleted]) VALUES (1, 5, 37, CAST(N'2023-11-07T17:00:00.0000000' AS DateTime2), 1, CAST(N'2023-11-02T16:39:51.0000000' AS DateTime2), 0)
INSERT [dbo].[borrow_request] ([id], [reader_id], [book_id], [due_date], [status], [updated_at], [deleted]) VALUES (2, 4, 37, CAST(N'2023-11-08T14:43:04.0000000' AS DateTime2), 0, CAST(N'2023-11-02T16:39:51.0000000' AS DateTime2), 0)
INSERT [dbo].[borrow_request] ([id], [reader_id], [book_id], [due_date], [status], [updated_at], [deleted]) VALUES (3, 8, 40, CAST(N'2023-12-08T17:00:00.0000000' AS DateTime2), 1, CAST(N'2023-11-08T14:39:30.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[borrow_request] OFF
GO
SET IDENTITY_INSERT [dbo].[borrow_tracking] ON 

INSERT [dbo].[borrow_tracking] ([id], [request_id], [return_date], [return_status], [fine_amound], [updated_at], [deleted]) VALUES (1, 1, CAST(N'2023-11-06T17:00:00.0000000' AS DateTime2), 1, CAST(100000 AS Decimal(10, 0)), CAST(N'2023-11-06T08:38:38.0000000' AS DateTime2), 0)
INSERT [dbo].[borrow_tracking] ([id], [request_id], [return_date], [return_status], [fine_amound], [updated_at], [deleted]) VALUES (2, 1, CAST(N'2023-11-05T17:00:00.0000000' AS DateTime2), 1, CAST(80000 AS Decimal(10, 0)), CAST(N'2023-11-06T08:40:21.0000000' AS DateTime2), 0)
INSERT [dbo].[borrow_tracking] ([id], [request_id], [return_date], [return_status], [fine_amound], [updated_at], [deleted]) VALUES (4, 3, CAST(N'2023-11-07T17:00:00.0000000' AS DateTime2), 3, CAST(200000 AS Decimal(10, 0)), CAST(N'2023-11-08T14:40:11.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[borrow_tracking] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name], [deleted]) VALUES (22, N'Tâm Lý - K? Nang S?ng ', 0)
INSERT [dbo].[category] ([id], [name], [deleted]) VALUES (23, N'Kinh T? Qu?n Lý', 0)
INSERT [dbo].[category] ([id], [name], [deleted]) VALUES (24, N'Ngo?i Ng?', 0)
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[publisher] ON 

INSERT [dbo].[publisher] ([id], [name], [deleted]) VALUES (19, N'NXB Th? Gi?i', 0)
INSERT [dbo].[publisher] ([id], [name], [deleted]) VALUES (21, N'NXB T?ng h?p TPHCM', 0)
INSERT [dbo].[publisher] ([id], [name], [deleted]) VALUES (26, N'NXB Lao Ð?ng', 0)
SET IDENTITY_INSERT [dbo].[publisher] OFF
GO
SET IDENTITY_INSERT [dbo].[reader] ON 

INSERT [dbo].[reader] ([id], [name], [date_of_birth], [reader_address], [identity_card], [start_day], [end_day], [books_borrowed], [borrowed_time], [deposit], [role_id], [deleted]) VALUES (4, N'John Doe 3', CAST(N'2023-11-11T15:49:40.0000000' AS DateTime2), N'123 Main Street, City', N'123456789012345', CAST(N'2023-09-30T17:00:00.0000000' AS DateTime2), CAST(N'2024-02-29T17:00:00.0000000' AS DateTime2), 3, 21, CAST(50 AS Decimal(10, 0)), 1, 1)
INSERT [dbo].[reader] ([id], [name], [date_of_birth], [reader_address], [identity_card], [start_day], [end_day], [books_borrowed], [borrowed_time], [deposit], [role_id], [deleted]) VALUES (5, N'Alice Smith ', CAST(N'1985-08-19T17:00:00.0000000' AS DateTime2), N'456 Elm Street, Town', N'987654321098765', CAST(N'2023-09-14T17:00:00.0000000' AS DateTime2), CAST(N'2024-01-19T17:00:00.0000000' AS DateTime2), 2, 14, CAST(30 AS Decimal(10, 0)), 2, 0)
INSERT [dbo].[reader] ([id], [name], [date_of_birth], [reader_address], [identity_card], [start_day], [end_day], [books_borrowed], [borrowed_time], [deposit], [role_id], [deleted]) VALUES (6, N'Bob Johnson', CAST(N'1992-02-27T17:00:00.0000000' AS DateTime2), N'789 Oak Street, Village', N'543210987654321', CAST(N'2023-10-04T17:00:00.0000000' AS DateTime2), NULL, 1, 7, CAST(20 AS Decimal(10, 0)), 1, 0)
SET IDENTITY_INSERT [dbo].[reader] OFF
GO
SET IDENTITY_INSERT [dbo].[role_reader] ON 

INSERT [dbo].[role_reader] ([id], [name], [Deleted]) VALUES (1, N'Sinh viên ', 0)
INSERT [dbo].[role_reader] ([id], [name], [Deleted]) VALUES (2, N'Giáo viên ', 0)
SET IDENTITY_INSERT [dbo].[role_reader] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [username], [password]) VALUES (1, N'user', N'1')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[author] ADD  CONSTRAINT [DF__author__name__37A5467C]  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[author] ADD  CONSTRAINT [DF__author__deleted__38996AB5]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [DF__book__image__3B75D760]  DEFAULT (NULL) FOR [image]
GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [DF__book__author_id__3C69FB99]  DEFAULT (NULL) FOR [author_id]
GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [DF__book__price__3D5E1FD2]  DEFAULT (NULL) FOR [price]
GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [DF__book__publicatio__3E52440B]  DEFAULT (getdate()) FOR [publication_year]
GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [DF__book__number_off__3F466844]  DEFAULT (NULL) FOR [number_off_pages]
GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [DF__book__category_i__403A8C7D]  DEFAULT (NULL) FOR [category_id]
GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [DF__book__publisher___412EB0B6]  DEFAULT (NULL) FOR [publisher_id]
GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [DF__book__create_day__4222D4EF]  DEFAULT (getdate()) FOR [create_day]
GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [DF__book__deleted__4316F928]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[borrow_request] ADD  CONSTRAINT [DF__borrow_re__reade__45F365D3]  DEFAULT (NULL) FOR [reader_id]
GO
ALTER TABLE [dbo].[borrow_request] ADD  CONSTRAINT [DF__borrow_re__book___46E78A0C]  DEFAULT (NULL) FOR [book_id]
GO
ALTER TABLE [dbo].[borrow_request] ADD  CONSTRAINT [DF__borrow_re__due_d__47DBAE45]  DEFAULT (getdate()) FOR [due_date]
GO
ALTER TABLE [dbo].[borrow_request] ADD  CONSTRAINT [DF__borrow_re__statu__48CFD27E]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[borrow_request] ADD  CONSTRAINT [DF__borrow_re__updat__49C3F6B7]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[borrow_request] ADD  CONSTRAINT [DF__borrow_re__delet__4AB81AF0]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[borrow_tracking] ADD  CONSTRAINT [DF__borrow_tr__reque__4D94879B]  DEFAULT (NULL) FOR [request_id]
GO
ALTER TABLE [dbo].[borrow_tracking] ADD  CONSTRAINT [DF__borrow_tr__retur__4E88ABD4]  DEFAULT (getdate()) FOR [return_date]
GO
ALTER TABLE [dbo].[borrow_tracking] ADD  CONSTRAINT [DF__borrow_tr__retur__4F7CD00D]  DEFAULT (NULL) FOR [return_status]
GO
ALTER TABLE [dbo].[borrow_tracking] ADD  CONSTRAINT [DF__borrow_tr__fine___5070F446]  DEFAULT (NULL) FOR [fine_amound]
GO
ALTER TABLE [dbo].[borrow_tracking] ADD  CONSTRAINT [DF__borrow_tr__updat__5165187F]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[borrow_tracking] ADD  CONSTRAINT [DF__borrow_tr__delet__52593CB8]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[category] ADD  CONSTRAINT [DF__category__delete__5535A963]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[publisher] ADD  CONSTRAINT [DF__publisher__delet__5812160E]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[reader] ADD  CONSTRAINT [DF__reader__date_of___5AEE82B9]  DEFAULT (getdate()) FOR [date_of_birth]
GO
ALTER TABLE [dbo].[reader] ADD  CONSTRAINT [DF__reader__reader_a__5BE2A6F2]  DEFAULT (NULL) FOR [reader_address]
GO
ALTER TABLE [dbo].[reader] ADD  CONSTRAINT [DF__reader__start_da__5CD6CB2B]  DEFAULT (getdate()) FOR [start_day]
GO
ALTER TABLE [dbo].[reader] ADD  CONSTRAINT [DF__reader__end_day__5DCAEF64]  DEFAULT (NULL) FOR [end_day]
GO
ALTER TABLE [dbo].[reader] ADD  CONSTRAINT [DF__reader__books_bo__5EBF139D]  DEFAULT (NULL) FOR [books_borrowed]
GO
ALTER TABLE [dbo].[reader] ADD  CONSTRAINT [DF__reader__borrowed__5FB337D6]  DEFAULT (NULL) FOR [borrowed_time]
GO
ALTER TABLE [dbo].[reader] ADD  CONSTRAINT [DF__reader__deposit__60A75C0F]  DEFAULT (NULL) FOR [deposit]
GO
ALTER TABLE [dbo].[reader] ADD  CONSTRAINT [DF__reader__role_id__619B8048]  DEFAULT (NULL) FOR [role_id]
GO
ALTER TABLE [dbo].[reader] ADD  CONSTRAINT [DF__reader__deleted__628FA481]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[role_reader] ADD  CONSTRAINT [DF__role_reade__name__656C112C]  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[role_reader] ADD  CONSTRAINT [DF__role_read__Delet__66603565]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK_book_author1] FOREIGN KEY([author_id])
REFERENCES [dbo].[author] ([id])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK_book_author1]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK_book_category1] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK_book_category1]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK_book_publisher1] FOREIGN KEY([publisher_id])
REFERENCES [dbo].[publisher] ([id])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK_book_publisher1]
GO
ALTER TABLE [dbo].[borrow_request]  WITH CHECK ADD  CONSTRAINT [FK_borrow_request_book] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[borrow_request] CHECK CONSTRAINT [FK_borrow_request_book]
GO
ALTER TABLE [dbo].[borrow_request]  WITH CHECK ADD  CONSTRAINT [FK_borrow_request_reader1] FOREIGN KEY([reader_id])
REFERENCES [dbo].[reader] ([id])
GO
ALTER TABLE [dbo].[borrow_request] CHECK CONSTRAINT [FK_borrow_request_reader1]
GO
ALTER TABLE [dbo].[borrow_tracking]  WITH CHECK ADD  CONSTRAINT [FK_borrow_tracking_borrow_request] FOREIGN KEY([request_id])
REFERENCES [dbo].[borrow_request] ([id])
GO
ALTER TABLE [dbo].[borrow_tracking] CHECK CONSTRAINT [FK_borrow_tracking_borrow_request]
GO
ALTER TABLE [dbo].[reader]  WITH CHECK ADD  CONSTRAINT [FK_reader_role_reader] FOREIGN KEY([role_id])
REFERENCES [dbo].[role_reader] ([id])
GO
ALTER TABLE [dbo].[reader] CHECK CONSTRAINT [FK_reader_role_reader]
GO
USE [master]
GO
